* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* GENERAL */
.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.flex-container>* {
    min-width: 200px;
}

.flex1 {
    flex: 1;
}

.flex2 {
    flex: 2;
}

.flex3 {
    flex: 3;
}

.centre {
    text-align: center;
}


section {
    max-width: 1200px;
    margin: 0 auto;
}

img {
    width: 100%;
    height: auto
}

/* BOLCK 1  */
h1 {
    margin: 3rem 0;
    font-size: 3rem;
    font-family: sans-serif;
    color: #333;
}

.img__parteone {
    width: 50%;
    max-height: 200px
}

.espacio {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img-jugador {
  justify-content: center;
}
.img-cpu {
  justify-content: center;
}

h2 {
    margin: 2rem 0;
    font-size: 2rem;
    font-family: sans-serif;
    color: #333;
}




.img__eligir {
    cursor: pointer;
    width: 40%;
}

.imagines {
    flex-direction: row;
    display: flex;
}

.selecciona {
    flex-direction: column;
}

.imagines__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.resultado__partido {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 2rem 0;
}

.resultadocss {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: violet;
    padding: 2rem;
}



.resultaldes {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}



.resultades__text {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.resultaldes > div {
  margin-bottom: 1rem;
}
.container {
  padding-bottom: 2rem;
}
button {
  padding: 1rem;
  width: 50%;
  align-items: center;
  display: flex;
  justify-content: center;
  /*! border: ; */
  border-radius: 30px;
}